@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--Dark-Slate-Grey);
  color: var(--Dark-Slate-Grey);
}
p {
  font-size: 16px;
  padding: 10px 0;
  
}
h1 {
  font-size: 2rem;
  padding: 20px 0;
}
a {
    text-decoration: none;
    color: var(--Dark-Slate-Grey);
    font-weight: 700;
}
ul {
  padding: 20px 0;
}
ul li {
    list-style: none;
    font-size: 0.8rem;
    padding: 2px 0;
}
i {
  margin-right: 10px;
  color: var(--Tomato);
}
.card-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  background: var(--White);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}
.join-form {
  order: 0;
  flex: 1;
  padding: 20px;

 text-align: start;
}
.logo-img {
  flex: 1;
 
  
}
.logo-img img {
  width: 100%;

}
button{
    display: inline;
    border: none;
    background: var(--Tomato);
    padding: 10px ;
    color: white;
    text-align: center;
    margin-top: 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
button:hover{
  background: var(--Charcoal-Grey);
}

form label {
  font-weight: 700;
  
}

form input {
  padding: 10px;
  width: 100%;
  margin: 20px 0;
}
.success-box {
  background: var(--White);
  padding: 20px;
  border-radius: 20px;

}

.error {
  display: none;
  color: var(--Tomato);
}

.invalid .error {
  display: inline;
}

.invalid > input {
  background: var(--Tomato);
  border: none;
}

.hide {
  display: none;
}

@media screen and (max-width:768px) {
  .desktop {
    display: none;
  }
  .hide {
    display: block;
  }
  .card {
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    
  }
}
